/*===========My Custom CSS==========
====================================*/
.m-fluid {
    padding-right: 2em !important;
    padding-left: 2em !important;
}
.m-divider {
    padding-top: 50px !important;
}
.m-margin {
    margin-top: 100px !important;
    margin-bottom: 100px !important;
}
p {
    font-size: 18px;
    font-weight: 300;
}
/*===========Nav==========
====================================*/
nav {
    height: 100px !important;
    background: #e3e3e3;
    transition: height 0.5s ease;
    -webkit-transition: height 0.5s ease;
    -moz-transition: height 0.5s ease;
    -o-transition: height 0.5s ease;
}
.shrink {
    height: 80px !important;
    -webkit-box-shadow: 0 0 4px 0 #000000 !important;
    -moz-box-shadow: 0 0 4px 0 #000000 !important;
    box-shadow: 0 0 4px 0 #000000 !important;
    background: #fff !important;
}
.logo img {
    width: 110px !important;
    height: 80px;
}

a.item, .pusher .ui.menu .ui.dropdown .menu>.item, div.right.menu > div.ui.dropdown.item {
    text-transform: uppercase !important;
    font-weight: 300;
}
div.right.menu > div.ui.dropdown.item:hover, .ui.secondary.menu a.item:hover,  nav.ui.menu .ui.dropdown .menu>.item:hover  {
    background: #E9C67B !important;
}
.ui.menu.fixed, .ui.menu.fixed .item:first-child, .ui.menu.fixed .item:last-child {
    border-radius: .28571429rem !important;
}
/*===========Vision==========
====================================*/
.vision {
    /*margin-bottom: 100px;*/
}
.vision .m-item {
    background-color: #ED9B5F;
    padding: 80px 20px 50px !important;
}
.vision .m-item h1 {
    text-transform: uppercase;
    color: #fff;
}
.vision .m-item h1:after {
    content: "";
    position: relative;
    display: block;
    width: 60px;
    height: 5px;
    left: 0;
    top: 20px;
    background-color: #fff;
    margin-bottom: 50px;
}
.vision .m-item p {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}
.vision .column:nth-child(1) > .m-item{
    background-color: #E9C67B;
}
.vision .column:nth-child(3) > .m-item{
    background-color: #62BFE6;
}
/*===========About & Latest==========
====================================*/
.about_latest h1{
    margin-bottom: 40px !important;
}
.notice-item {
    min-height: 130px;
}
.notice h1 {
    font-size: 60px;
    margin-top: 0px !important;
}
.notice h5 {
    margin-bottom: 0px !important;
}
.notice p {
    margin-bottom: 0px;
}
.notice a {
    font-size: 16px;
}
.notice a.notice-link {
    font-size: 20px;
    font-weight: 400;
    color: #62BFE6;
}
/*===========Teacher==========
====================================*/
.teachers p {
    line-height: 5px;
}
/*===========Footer==========
====================================*/
footer {
    height: 250px;
}
footer h1 {
    margin-bottom: 20px !important;
}
.footer-nav a:after {
    content: "/";
    margin-left: 15px;
}
.footer-nav a:last-child:after {
    content: "";
    margin-left: 15px;
}
